.todo-item-wrapper {
    display: flex;
    width: 100%;
    margin-top: 0.5rem;
}

.todo-item-wrapper div:nth-child(1) {
    width: 70%;
    padding-top: 0.25rem;
    font-size: 1.5rem;
}

.todo-item-action-button {
    width: 30%;
    display: flex;
    justify-content: space-between;
}